{% extends "base.html" %}
{% load static %}

<style>
    
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text{
    color: white;
  }
    .card{
    box-shadow: 0 16px 48px #E3E7EB;
}
</style>
{% block content %}
        <header class="masthead" >
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h3 class="site-heading my-4 mt-3 text-white">به سورس فا خوش آمدید</h3>
                                <p class="text-light">سورس فا یک سرویس گیت نوشته شده در جنگو است
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </header>
        
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">ورود</button>
                </form>
            </div>
        </div>
{% endblock content %}
