{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
    <div class="row ">
        <div class="card">
            <div class="card-header">
                ورود به سورس فا
            </div>
            
            <div class="card-body">
                <form method="post">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                     <div class="form-group">
                        <label for="id_username">نام کاربری :</label>
                        <input style="text-align: left;" id="id_username" type="text" name="username" autocomplete="username" maxlength="150" class="form-control" autofocus required>
                        {{ form.username.errors }}
                    </div>

                    <div class="form-group">
                        <label for="">رمز عبور :</label>
                        <input style="text-align: left;" id="id_password" type="password" name="password" autocomplete="current-password" class="form-control" required>
                        {{ form.password.errors }}
                    </div>
                    <button type="submit" class="btn btn-block btn-success">ورود</button>
                </form>
                <br/>
                حساب کاربری ندارید؟ <a href="/profile/signup">ثبت نام کنید</a>
            </div>
            <br>
        </div>
    </div>

      <div class="col-sm"></div>
    </div>
</div>
{% endblock content %}
