{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>سورس فا</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
		<link rel="stylesheet" href="{% static 'bootstrap-rtl.min.css' %}"/>
        <script src="{% static 'jQuery.js' %}" ></script>
        <script src="{% static 'popper.min.js' %}" ></script>
		<script src="{% static 'bootstrap.min.js' %}"></script>
		
		<style>
		@font-face {
			font-family: Vazir;
			font-size: 400;
			src:    url('{% static "fonts/vazir.eot?" %}') format('eot'),
					url('{% static "fonts/vazir.woff" %}') format('woff'),
					url('{% static "fonts/vazir.ttf" %}') format('truetype');
		}
		* {font-family:Vazir;}

		hr {
 		 	margin-top: 1rem;
  			margin-bottom: 1rem;
  			border: 0;
  			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		</style>
  </head>

<body dir="rtl">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">سورس فا</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">خانه <span class="sr-only">(current)</span></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/explore">اکسپلور</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/pulls">پل ریکوئست ها</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/issues">ایشو ها</a>
				</li>
				
				<li class="nav-item dropdown">
        
				</li>
			</ul>
			{% if user.is_authenticated %}
			<div class="nav-item dropdown my-2 my-lg-0">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="{% static 'images/person.png' %}" width="30" height="30" alt="">
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<p class="dropdown-item" href="#">سلام {{user.username}}!</p>
					<div class="dropdown-divider"></div>
					<a href="/new" class="btn btn-primary btn-lg btn-block">مخزن جدید</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/{{user.username}}">پروفایل</a>
					<a class="dropdown-item" href="/{{user.username}}">مخازن</a>
					<a class="dropdown-item" href="#">مخازن مورد علاقه</a>
					
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">ارتقا</a>
					<a class="dropdown-item" href="#">تنظیمات</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
				</div>
			</div>
			{% else %}
			<div class="form-inline my-2 my-lg-0">
				<a style="color:white;" class="nav-link mr-sm-2" href="{% url 'login' %}" >
					ورود
				</a>
				
				<a class="btn btn-primary" href="{% url 'signup' %}" role="button">
					ثبت نام
				</a>
			
			</div>
			{% endif %}
			<!--<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>-->
		</div>
	</nav>


    

            {% block content %} 
          <!-- Content Goes here -->
            {% endblock content %}
    
    <footer class="footer">
      <div class="container">
        <span class="text-muted">تمامی حقوق برای سورس فا محفوظ است</span>
      </div>
    </footer>
    
  </body>
</html>
