{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
      
        <div class="col-md-8 mt-3 left">
            آخرین مخازن ایجاد شده توسط کاربران :
            {% for repo in repos %}
            <div class="card mb-4" >
                <div class="card-body">
                    <p class="card-title" style="text-align: left;font-size: 22px;"><a href="{{BASE_URL}}/{{repo.user_id}}">{{repo.user_id}}</a>/<a href="{{BASE_URL}}/{{repo.user_id}}/{{ repo.repo_name }}">{{ repo.repo_name }}</a></p>
                    <p class="card-text">{{repo.desc}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
